
/* =======================================
    style.css
    use this file for your custom styles
========================================== */

/* use a box model that makes sense */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* set the default color, font-size, and line height */
html {
  color: white;
  font-size: 1em;
  line-height: 1.4;
  font-family: "avenir";
  height: 100%;
  margin: 0 auto;
}

.fonttext {
  color: white;
}

body {
  background-image: url("praia.jpg");
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.wrap {
  margin: 0 auto;
}

/* make images and embedded media fluid */
img,
object {
  max-width: 100%;
}

.picture {
 width: 10em;
 height: 10em;
 margin: 0 auto;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 border-radius: 50%;
 -khtml-border-radius: 50%;
 overflow: hidden;
}

/* type hierarchy- change for your project */
h1 {
  font-size: 3em; /* 48px */
  text-align: center;
  color: white;
  margin: 0;
}

h2 {
  font-size: 1.25em; /* 36px */
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 0;
}

h3 {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.25em; /* 28px */
  text-align: center;
  color: white;
  font-weight: lighter;
  margin: 0;
}

h4 {
  font-size: 1.125em /*18px */
}

h5 {
  font-size: 3em; /* 48px */
  text-align: center;
  color: white;
  margin: auto;
  margin-top: 2em;
}

p {
  color: white;
}

p2 {
  font-size: 2px;
}

/* navigation list styles */
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  margin-top: 15px;
}

.navigation li {
  display: inline-block;
}
.navigation a {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  color: white;
}

.navigation a:hover {
  -webkit-transition : all 500ms ease;
  -moz-transition : all 500ms ease;
  -ms-transition : all 500ms ease;
  -o-transition : all 500ms ease;
  color : #DBBAE5;
}

#active {
  color : #DBBAE5;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


#contact_form
{
    margin: 0 auto;
    width: 50%;
}

#name
{
    width: 100%;
    color: #3399ff;
}

#email
{
    width: 100%;
    color: #3399ff;
}

#message
{
    width: 100%;
    color: #3399ff;
    margin-bottom: 20px;
}

.button
{
    width: 25%;
    margin: 0 auto;
    text-align: center;
    padding: 15px;
    border: #fff solid 2px;
}

.button a
{
    color: #DBBAE5;
}

.aboutme {
  margin: 0 auto;
}

.whitebox {
  opacity: 0.9;
  border: 1px solid white;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  width: 80%;
}

.aboutmetext {
  text-align: left;
}

.aboutmepicture {
  width: 45%;
  height: 30%;
  margin-top: 50px;
  border-radius: 50%;
  overflow:hidden;


}

.aboutmetext {
  color: #070743;
  width: 50%;
  padding-left: 2em;
}

.resumebox {
  margin-top: 4em;
  text-align: center;
  opacity: 0.9;
}

.contact {
  margin-top: 6em;
}

.whitebox2 {
  opacity: 0.8;
  border: 1px solid white;
  background-color: white;
  margin: auto;
  padding-top: 1em;
  padding-bottom: .6em;
  display: flex;
  width: 80%;
}


ul.img-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul.img-list li {
  display: inline-block;
  height: 150px;
  margin: 0 1em 1em 0;
  position: relative;
  width: 400px;
}


span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-content {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}


span.text-content {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 250px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-contentsocial {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-contentsocial span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-contentsocial {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-contentsocial {
  opacity: 1;
}

span.text-contentsocial {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-contentmom {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-contentmom span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}


span.text-contentmom {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 150px;
  left: 0;
  position: absolute;
  top: 0;
  width: 150px;
  opacity: 0;
}

ul.img-list li:hover span.text-contentmom {
  opacity: 1;
}

span.text-contentmom {
  background: #DBBAE5;
  color: white;
  cursor: pointer;
  display: table;
  height: 330px;
  left: 0;
  position: absolute;
  top: 0;
  width: 400px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}


footer {
  text-align: center;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

header
{
    margin-top: 100px;
}

@media (min-width: 620px) {
  .column {
    float: left;
    padding-left: 1em;
    padding-right: 1em;

  }

  .column.full {
    width: 100%;
    height: 100%;
  }

  .column.two-thirds {
    width: 66.7%;
  }

  .column.half {
    width: 50%;
    margin-top: 6em;
    opacity: 0.9;
    border: 0px solid;
    color: black;

  }

  .column.third {
    width: 33.3%;
    margin-top: 6em;
    opacity: 0.8;
    border: 5px solid pink;
    color: black;
  }

  .column.fourth {
    width: 25%;
  }

  .column.flow-opposite {
    float: right;
  }
}


/* row used as a clearfix to clear floats */
.row:before,
.row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row {
  *zoom: 1;
  height: 100%;
}
